<html ng-app="app">
<head>
  
  <link rel="stylesheet" href="autocomplete/style.css">
  <link rel="stylesheet" href="autocomplete/autocomplete.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>

</head>
<body>




  <div ng-controller="MyCtrl">
    <div class="main">
     
      <autocomplete ng-model="result" attr-placeholder="type the word..." click-activation="true" data="words" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
      <br>
      
    </div>


  </div>


<footer>
   
</footer>

<script type="text/javascript" src="autocomplete/autocomplete.js"></script>
<script type="text/javascript" src="autocomplete/controller.js"></script>

</body>
</html>