<!DOCTYPE html>
<html ng-app="app">

<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="controller/style.css">
    <link rel="stylesheet" href="controller/autocomplete.css">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Francois+One" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <div ng-controller="MyCtrl">
        <div id="wrapper">
            <header class="text-center">
                <div id="header">
                    <div class="head" id="one">
                        <h1>Tigrigna <br> Translation</h1></div>
                    <div class="head" id="two">
                        <h1>ትርጎማ<br> ቛንቛ ትግርኛ</h1></div>
                </div>
            </header>
            <main>
                <div class="mainBox">
                    <div class="toBox">
                        <h2 class="langSelector">From | ካብ</h2>
                        <!-- <select class="contentLimit" name="fromSelectedLanguageId" id="comboboxId1" ng-model="fromSelectedLanguageId" ng-change="fromSwitchTranslation()">
                            <option ng-repeat="data in myData" value="{{data.id}}">{{data.languages}}</option>
                        </select> -->
                        <div class="butwrap">
                            <div class="butbox">
                                <button ng-click="fromSwitchTranslation(1)" class="butns">English</button>
                                <button ng-click="fromSwitchTranslation(2)" class="butns">Dutch</button>
                                <button ng-click="fromSwitchTranslation(3)" class="butns">Tigrigna</button>
                            </div>
                        </div>
                        <label class="contentLimit">
                            <autocomplete ng-model="inputdata" attr-placeholder="type to search words..." click-activation="true" data="datas" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
                        </label>
                    </div>
                    <div class="toBox">
                        <h2 class="langSelector">To | ናብ</h2>
                        <!-- <select class="contentLimit" name="toSelectedLanguageId" id="comboboxId2" ng-model="toSelectedLanguageId" ng-change="toswitchTranslation()">
                            <option ng-repeat="data in myData" value="{{data.id}}">{{data.languages}}</option>
                        </select> -->
                        <div class="butwrap">
                            <div class="butbox">
                                <button ng-click="toswitchTranslation(1)" ng-model="english" onclick="toEnglish()" id="to1" class="butns">English</button>
                                <button ng-click="toswitchTranslation(2)" ng-model="dutch" onclick="toDutch()" id="to2" class="butns">Dutch</button>
                                <button ng-click="toswitchTranslation(3)" ng-model="tigrigna" onclick="toTigrigna()" id="to3" class="butns">Tigrigna</button>
                            </div>
                        </div>
                         <table class="table">
                              <tbody>
                                   <tr ng-repeat="data in outPut">
                                      <td>{{data.Expr1}}</td>
                                   </tr>
                             </tbody>
                       </table>
                    </div>
                    <div class="clear"></div>
                </div>
            </main>
            <footer>
                <a href="/contactUs">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="/about">About  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="controller/autocomplete.js"></script>
        <script type="text/javascript" src="controller/controller.js"></script>
</body>

</html>
