<!DOCTYPE html>
<html ng-app="app">
<head>
  <title></title>
  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="autocomplete/style.css">
  <link rel="stylesheet" href="autocomplete/autocomplete.css">
<!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
<body>
 
    <div ng-controller="MyCtrl">
       <div class="row">
              <header>
                 <h1>Tigrigna Translation ትርጎማ ቛንቋ ትግርኛ </h1>
              </header>
          <div class="divgeneral container">
             <div class="col-lg-3 col-md-8 col-sm-10 col-xs-12 div1 text-center">
                  <strong>From Language</strong><br>
                  <select class="contentLimit" name="fromSelectedLanguageId" id="comboboxId1" ng-model="fromSelectedLanguageId" ng-change="fromSwitchTranslation()">
                     <option ng-repeat="data in myData" value="{{data.id}}">{{data.languages}}</option>
                  </select><br>
                  <label class="contentLimit">
                   <autocomplete ng-model="inputdata" attr-placeholder="type to search words..." click-activation="true" data="datas" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
                  </label>
             </div>
             <div class="col-lg-3 col-md-8 col-sm-10 col-xs-12 div2">
                  <strong>To Language</strong><br>
                  <select class="contentLimit" name="toSelectedLanguageId" id="comboboxId2" ng-model="toSelectedLanguageId" ng-change="toswitchTranslation()">
                      <option ng-repeat="data in myData" value="{{data.id}}">{{data.languages}}</option>
                  </select>
                 <ul class="contentLimit outPut" ng-model="inputdata">
                    <li ng-repeat="data in outPut">{{data.Expr1}}</li>
                 </ul>
             </div>
          </div>
       </div>
    </div>

       <footer>
         <a href="/contactUs">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
         <a href="/about">About  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
         <a href="/paragraph">Converting by paragraph</a>
          <a href="/adminPage">Admin Page</a>
       </footer>


 
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="controllers/controllers.js"></script>
<script type="text/javascript" src="autocomplete/autocomplete.js"></script>
<script type="text/javascript" src="autocomplete/controller.js"></script>
</body>

</html>