<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Taviraj" rel="stylesheet">
 

  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans" rel="stylesheet">


</head>
<body ng-controller="mycontroller">

<header>

  <h1><span class="thin">Tigrigna Translator</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tig-text">ትግርኛ &nbsp;ተርጓሚት</span></h1>
</header>

 <div>
  <p class="p1">Language translator from Tigrigna to different languages. ተርጓሚት ካብ ትግርኛ ናብ ዝተፈላለዩ ቛንቛታት</p>

  <h1><span class="thin">Tigrigna-Translator</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="tigrigna-text">ትግርኛ &nbsp;&nbsp;ተርጓሚት</span></h1>
</header>

 <div>
  <p class="p1">Language translater from Tigrigna to different languages/ ተርጓሚት ካብ ቛንቛ ትግርኛ ናብ ዝተፈላለየ ቛንቛታት</p>

    <div class="main">
         
          <strong class="text">From Language/ ካብ ቛንቛ</strong><br>
           <select class="combobox" name="fromSelectedLanguageId" id="comboboxId1" ng-model="fromSelectedLanguageId" ng-change="switchTranslation()">
             <option ng-repeat="data in myData" value="{{data.id}}">{{data.language}}</option>
           </select> <br>

                <strong class="text" placeholder="type to search movies...">Enter the word/ ኣብዚ ዝደለኻዮ ጽሓፍ</strong><br>

                <strong class="text" placeholder="type to search movies...">Enter the word/ ኣብዚ ዝደለኹሞ ቃል የእትው</strong><br>

            <input class="form-control text" ng-model="inputdata" ng-focus="inputTextboxfocus()"><br>
          
            <strong class="text">To Language/ ናብ ቛንቛ</strong><br>

            <select class="combobox" name="toSelectedLanguageId" ng-model="toSelectedLanguageId" ng-change="toswitchTranslation()">
                 <option ng-repeat="data in myData" value="{{data.id}}">{{data.language}}</option>
            </select> <br>
           <!-- <input type="button" class="btn btn-primary" value="Translate" ng-click="add()"><br>-->
        
           <ul class="outputDive" ng-model="inputdata">{{inputdata}}
              <li class="result" ng-repeat="data in outPut">{{data.Expr1}}</li>
           </ul>
    </div>
 </div>
       <footer>
         <a href="/contactUs">Contact Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
         <a href="/about">About  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
         <a href="/paragraph">Paragraph &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="/adminPage">Admin Page</a>
       </footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="controllers/controllers.js"></script>
 
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>

</html>