/** {
  box-sizing: border-box;
}
body{*/
/*  margin: 0;
  padding: 0;
}*/
/*#wrapper{
  background-color: gray;
  width: 100%;
  height: 100%

}*/
/** {
  outline: 1px dotted pink;
}*/
.backgroundImage{
  background-image: url("https://image.freepik.com/free-vector/modern-abstract-background_1048-1003.jpg");
}
.contentLimit{
  margin: 20px 20px;
  size: 90%;
  padding: 5px;
  width: 90%;

}

.result{
  
  padding: 5px;
  width: 90%;
  background-color: rgb(255, 255, 255);

}

.divgeneral{
  margin: 50px 50px;
  background-color: rgb(255, 255, 204);
  border-top: solid;

}
.div1{
  margin:20px 30px;
  width:300px;
  background-color:rgb(255, 224, 179);


}
.div2{
  margin:20px 30px;
  width:300px;
  background-color:rgb(255, 235, 204);


}
.outPut{
  background-color: white;
  box-shadow: 2px 4px;
  color: black;
  width:80%;
  height: 30%;
  font-family: 'Libre Baskerville', serif;
}

.btn{
	margin:30px;
	width:200px;
	height: 50px
}
.main{
  display: inline-block;
  padding: 2em;
  width: 30em;
  margin-bottom: 5em;
}

header{
  width: 100%;
  height: 6em;
  padding: 0.7em 1em 0.5em 2em;
  color: #eee;
  background-color: #333;
}
header{
  width: 100%;
  height: 6em;
  padding: 0.7em 1em 0.5em 2em;
  color: #eee;
  background-color: 444555333;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;

  font-weight: 200;
  line-height: 4em;
  color: #eee;
  background-color: #44ba54;
  text-align: center;
}

footer a{
  color: #333;
  font-weight: bold;
}

footer a:hover{
  color: #b15;
  font-weight: bold;
}

/** {
  padding: 0; margin: 0;  
}
html {
  height: 100.1&#37;; 
}
#content1 {
  float: left;
  width: 50%;
  background-color: #DDD;
}
#content2 {
  float: left;
  width: 50%;
  background-color: #CCC;
}*/